@font-face {
  font-family: "ZuumeExtraLight";
  src: url(font/ZuumeExtraLight.ttf);
}

@font-face {
  font-family: "ZuumeMedium";
  src: url(font/ZuumeMedium.ttf);
}

@font-face {
  font-family: "ZuumeRegular";
  src: url(font/ZuumeRegular.ttf);
}

@font-face {
  font-family: "ZuumeBold";
  src: url(font/ZuumeBold.ttf);
}

body {
  padding: 0;
  margin: 0;

  font-family: "ZuumeMedium";
  color: #ffffff;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background {
  position: absolute;
  width: 66%;
  z-index: -1;

  top: -15%;
  left: -15%;

  animation: rotation 16s infinite linear;
}

#logo {
  position: absolute;
  width: 7.5%;
  bottom: 1%;
  left: 1%;
}

#stripes {
  width: 3px;
  height: 1000vh;
  background-color: #ecf34c;
  z-index: 3;
  position: absolute;
  left: 70%;
}

#greyBox {
  width: 3px;
  height: 80vh;
  background-color: #222222;
  z-index: 4;
  position: absolute;
  left: 70%;
  top: 10vh;
}

#circle > * {
  height: 200vh;
  width: 100vw;
  border-radius: 50%;
  top: -50vh;

  position: absolute;
}

#circle > #drawing {
  background-color: #222222;
  left: 35%; /* change to 40 for Rick and Morty circle */
  z-index: 2;
}

/* Use this for background behind circle */
/* #circle > img { 
  left: 35%;
  z-index: 1;
} */

#wrapperPage {
  display: grid;
  grid-template-columns: 40% 60%;
}

#boxLeft {
  text-align: center;
}

#Title {
  color: #222222;
  text-decoration: underline;
  font-size: 1000%;
  text-align: center;
}

#boxRight {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  z-index: 4;
}

#boxRight > div {
  margin: 5vh 0;
}

#wrapperRight > p {
  margin: 0;
}

#currentScore {
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  align-items: center;
}

#wrapperRight {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 2px;
  justify-content: center;
}

.detail {
  font-family: "ZuumeExtraLight";
  font-size: 200%;
  margin: 0;
}

.currencies {
  font-family: "ZuumeBold";
  font-size: 500%;
}

.score {
  color: #ecf34c;
  font-size: 1000%;
  font-family: "ZuumeBold";
  border: 3px solid #ecf34c;
  margin: auto;
  width: 220px;
  height: 160px;
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  border: none;
  padding: none;
  height: 80vh;
}

iframe > #document > html > body > a {
  display: none;
}

/* iframe > *a {
  display: none;
} */
