@font-face {
  font-family: "ZuumeExtraLight";
  src: url(font/ZuumeExtraLight.ttf);
}

@font-face {
  font-family: "ZuumeMedium";
  src: url(font/ZuumeMedium.ttf);
}

@font-face {
  font-family: "ZuumeRegular";
  src: url(font/ZuumeRegular.ttf);
}

@font-face {
  font-family: "ZuumeBold";
  src: url(font/ZuumeBold.ttf);
}

body {
  padding: 0;
  margin: 0;

  font-family: "ZuumeMedium";
  color: #ffffff;

  background-color: #fb1650;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#alert {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #292a2d;
  width: 20vw;
  height: 15vh;
  border-radius: 0.2vw;
  position: absolute;
  z-index: 5;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  top: 2vh;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
}

#alert > #alertBox {
  padding: 2vh;
}

#alert > #alertBox > h3 {
  font-size: 0.8vw;
  font-weight: lighter;
  margin: 0 0 0.5vh 0;
}

#alert > #alertBox > p {
  font-size: 0.6vw;
  font-weight: lighter;
  margin: 0;
}

#alert > #alertBox > button {
  position: absolute;
  cursor: pointer;
  right: 1vw;
  bottom: 1vw;
  background-color: #8ab4f8;
  color: #292a2d;
  font-size: 0.5vw;
  border-radius: 0.1vw;
  border: none;
  padding: 0.5vw 1vw;
  font-weight: bold;
}

#background > img {
  position: absolute;
  z-index: -1;

  width: 42%;
}

#backgroundPortal {
  top: 5%;
  animation: pulse-black 20s infinite linear;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

#title {
  position: absolute;
  width: 10%;
  top: 2%;
  left: 2%;
}

#nft > img {
  position: absolute;
  bottom: -1%;
  width: 40%;
  left: 1.5%;
}

#logo > img {
  position: absolute;
  width: 17.5%;
  bottom: -1%;
  left: 1%;
}

#stripes {
  width: 3px;
  height: 1000vh;
  background-color: #fb1650;
  z-index: 3;
  position: absolute;
  left: 70%;
}

#greyBox {
  width: 3px;
  height: 80vh;
  background-color: #222222;
  z-index: 4;
  position: absolute;
  left: 70%;
  top: 10vh;
}

#circle > * {
  height: 200vh;
  width: 100vw;
  border-radius: 50%;
  top: -50vh;

  position: absolute;
}

#circle > #drawing {
  background-color: #222222;
  left: 35%; /* change to 40 for Rick and Morty circle */
  z-index: 2;
}

/* Use this for background behind circle */
/* #circle > img { 
  left: 35%;
  z-index: 1;
} */

#wrapperPage {
  display: grid;
  grid-template-columns: 40% 60%;
}

#Title {
  color: #222222;
  text-decoration: underline;
  font-size: 1000%;
  text-align: center;
}

#boxRight {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  z-index: 4;
}

#boxRight > div {
  margin: 5vh 0;
}

#wrapperRight > p {
  margin: 0;
}

#currentScore {
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  align-items: center;
  column-gap: 7.5%;
}

#wrapperRight {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 2px;
  justify-content: center;
}

.detail {
  font-family: "ZuumeExtraLight";
  font-size: 200%;
  margin: 0;
}

.currencies {
  font-family: "ZuumeBold";
  font-size: 500%;
}

.score {
  color: #fb1650;
  font-size: 1000%;
  font-family: "ZuumeBold";
  border: 3px solid #fb1650;
  margin: auto;
  width: 220px;
  height: 160px;
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  border: none;
  padding: none;
  height: 80vh;
}

iframe > #document > html > body > a {
  display: none;
}

/* iframe > *a {
  display: none;
} */
