@font-face {
  font-family: "ZuumeExtraLight";
  src: url(font/ZuumeExtraLight.ttf);
}

@font-face {
  font-family: "ZuumeMedium";
  src: url(font/ZuumeMedium.ttf);
}

@font-face {
  font-family: "ZuumeRegular";
  src: url(font/ZuumeRegular.ttf);
}

@font-face {
  font-family: "ZuumeBold";
  src: url(font/ZuumeBold.ttf);
}

body {
  padding: 0;
  margin: 0;

  font-family: "ZuumeMedium";
  color: #ffffff;
  background-color: #080031;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

#alert {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 42, 45);
  width: 20vw;
  height: 15vh;
  border-radius: 0.2vw;
  position: absolute;
  z-index: 5;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  top: 2vh;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
}

#alert > #alertBox {
  padding: 2vh;
}

#alert > #alertBox > h3 {
  font-size: 0.8vw;
  font-weight: lighter;
  margin: 0 0 0.5vh 0;
}

#alert > #alertBox > p {
  font-size: 0.6vw;
  font-weight: lighter;
  margin: 0;
}

#alert > #alertBox > button {
  position: absolute;
  cursor: pointer;
  right: 1vw;
  bottom: 1vw;
  background-color: #8ab4f8;
  color: #292a2d;
  font-size: 0.5vw;
  border-radius: 0.1vw;
  border: none;
  padding: 0.5vw 1vw;
  font-weight: bold;
}

#background > img {
  position: absolute;
  z-index: 0;

  width: 50%;
}

@keyframes GreenAnimation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50px, 100px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes BlueAnimation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50px, 100px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes OrangeAnimation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50px, -100px);
  }

  100% {
    transform: translate(0, 0);
  }
}

#backgroundGreen {
  top: -12.5%;
  left: -5%;
  animation: GreenAnimation 10s infinite linear;
}

#backgroundBlue {
  top: -20%;
  left: 0%;
  animation: BlueAnimation 10s infinite linear;
}

#backgroundOrange {
  top: -12.5%;
  left: -5%;
  animation: OrangeAnimation 10s infinite linear;
}

#title {
  position: absolute;
  width: 25%;
  top: 2%;
  left: 1%;
}

#nft > img {
  position: absolute;
  bottom: -1%;
  width: 50%;
  left: -2%;
}

#logo > img {
  position: absolute;
  width: 15%;
  bottom: 0%;
  left: -1%;
}

#stripes {
  width: 3px;
  height: 1000vh;
  background-color: #037cff;
  z-index: 3;
  position: absolute;
  left: 72.5%;
}

#greyBox {
  width: 3px;
  height: 80vh;
  background-color: #222222;
  z-index: 4;
  position: absolute;
  left: 72.5%;
  top: 10vh;
}

#circle > * {
  height: 200vh;
  width: 100vw;
  border-radius: 50%;
  top: -50vh;

  position: absolute;
}

#circle > #drawing {
  background-color: #222222;
  left: 40%;
  z-index: 2;
}

#wrapperPage {
  display: grid;
  grid-template-columns: 45% 55%;
}

#Title {
  color: #222222;
  text-decoration: underline;
  font-size: 1000%;
  text-align: center;
}

#boxRight {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  z-index: 4;
}

#boxRight > div {
  margin: 5vh 0;
}

#wrapperRight > p {
  margin: 0;
}

#currentScore {
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  align-items: center;
  column-gap: 7.5%;
}

#wrapperRight {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 2px;
  justify-content: center;
}

.detail {
  font-family: "ZuumeExtraLight";
  font-size: 200%;
  margin: 0;
}

.currencies {
  font-family: "ZuumeBold";
  font-size: 500%;
}

.score {
  color: #037cff;
  font-size: 1000%;
  font-family: "ZuumeBold";
  border: 3px solid #037cff;
  margin: auto;
  width: 220px;
  height: 160px;
  margin-bottom: 20px;
}
